# Tarefa 01

- Leia os enunciados com atenção
- Saiba que pode haver mais de uma resposta correta
- Insira novas células de código sempre que achar necessário
- Em caso de dúvidas, procure os tutores
- Divirta-se :)

#### 1)  crie uma série do pandas a partir de uma lista com os dados abaixo:

Em um estudo sobre alteração na tempreatura global, A NASA disponibiliza dados de diferenças de de temperatura média da superfície terrestre relativos às médias de temperatura entre 1951 e 1980. Os dados originais podem ser vistos no site da NASA/GISS, e estão dispostos a cada década na tabela abaixo.

|ano|anomalia termica|
|:-:|:----:|
| 1900 | -0.08 |
| 1920 | -0.27 |
| 1940 | 0.12 |
| 1960 | -0.03 |
| 1980 | 0.26 |
| 2000 | 0.40 |
| 2020 | 1.02 |

Crie uma séries do Pandas a partir de uma lista com esses dados.

In [2]:
import pandas as pd
import numpy as np

dados = [-0.08,-0.27,0.12,-0.03,0.26,0.40,1.02]
AnomaliaTermica = pd.Series(dados)
AnomaliaTermica

0   -0.08
1   -0.27
2    0.12
3   -0.03
4    0.26
5    0.40
6    1.02
dtype: float64

#### 2) Coloque os anos nos índices conforme a tabela.

In [3]:
anos = [1900,1920,1940,1960,1980,2000,2020]

AnomaliaTermica = pd.Series(dados,index=anos)
AnomaliaTermica

1900   -0.08
1920   -0.27
1940    0.12
1960   -0.03
1980    0.26
2000    0.40
2020    1.02
dtype: float64

#### 3) A partir do dicionário abaixo, crie uma séries do Pandas:

In [6]:
dic_temperaturas = {1900: -.08, 1920: -.27, 1940: .12, 1960: -.03, 1980: .26, 2000: .40, 2020: 1.02}

AnomaliaTermicaDic = pd.Series(dic_temperaturas)
AnomaliaTermicaDic

1900   -0.08
1920   -0.27
1940    0.12
1960   -0.03
1980    0.26
2000    0.40
2020    1.02
dtype: float64

#### 4) Transforme o ndarray abaixo em um dataframe. 
O numpy é capaz de gerar arrays n-dimensionais com números pseudo-aleatórios de acordo com uma variedade de distribuições, como no exemplo abaixo. Transforme esse nd-array em um DataFrame.

In [7]:
arr = np.random.normal(100, 10, (20,3))

DaFr = pd.DataFrame(arr)
DaFr

             0           1           2
0    82.239529  110.006026  117.557166
1   103.925917  101.442750   93.593817
2    95.567735   98.922021   99.544123
3    99.737508  101.656312   82.210363
4   106.713378   90.341222  102.326318
5    80.570895   93.605156  101.671246
6   107.006165   94.924459  105.492196
7    98.121798   96.554844  104.030891
8   105.410197   85.054932   78.456857
9   101.303281   76.544731  108.896593
10  100.661780   98.567663  109.710306
11   90.265159  105.869584   95.038410
12   95.000428   88.942991  105.040793
13  107.264624  114.998674  106.517395
14   98.012915  108.768317   95.249027
15   98.069640  105.131482  112.391329
16   90.761860   86.617148   98.802776
17  111.633801  120.272586  104.225890
18  115.713354  100.703187   97.609047
19  104.089222   95.798057   99.039898

#### 5) Nomeie os índices das linhas com inteiros de 1 a 20, e as colunas com os nomes "x1", "x2", e "x3" respectivamente.

In [49]:
DaFrMod = pd.DataFrame(arr,index=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20],columns=['x1','x2','x3'])
DaFrMod

            x1          x2          x3
1    82.239529  110.006026  117.557166
2   103.925917  101.442750   93.593817
3    95.567735   98.922021   99.544123
4    99.737508  101.656312   82.210363
5   106.713378   90.341222  102.326318
6    80.570895   93.605156  101.671246
7   107.006165   94.924459  105.492196
8    98.121798   96.554844  104.030891
9   105.410197   85.054932   78.456857
10  101.303281   76.544731  108.896593
11  100.661780   98.567663  109.710306
12   90.265159  105.869584   95.038410
13   95.000428   88.942991  105.040793
14  107.264624  114.998674  106.517395
15   98.012915  108.768317   95.249027
16   98.069640  105.131482  112.391329
17   90.761860   86.617148   98.802776
18  111.633801  120.272586  104.225890
19  115.713354  100.703187   97.609047
20  104.089222   95.798057   99.039898

#### 6) No DataFrame do exercício 5, crie uma nova coluna como sendo a média das três colunas, e dê a ela o nome de "media" (não recomendo colocar acentos em nomes de variáveis).

In [51]:
DaFrMod['media'] = (DaFrMod['x1'] + DaFrMod['x2'] + DaFrMod['x3']) / 3
DaFrMod

            x1          x2          x3       media
1    82.239529  110.006026  117.557166  103.267574
2   103.925917  101.442750   93.593817   99.654162
3    95.567735   98.922021   99.544123   98.011293
4    99.737508  101.656312   82.210363   94.534728
5   106.713378   90.341222  102.326318   99.793639
6    80.570895   93.605156  101.671246   91.949099
7   107.006165   94.924459  105.492196  102.474273
8    98.121798   96.554844  104.030891   99.569178
9   105.410197   85.054932   78.456857   89.640662
10  101.303281   76.544731  108.896593   95.581535
11  100.661780   98.567663  109.710306  102.979916
12   90.265159  105.869584   95.038410   97.057718
13   95.000428   88.942991  105.040793   96.328071
14  107.264624  114.998674  106.517395  109.593564
15   98.012915  108.768317   95.249027  100.676753
16   98.069640  105.131482  112.391329  105.197484
17   90.761860   86.617148   98.802776   92.060595
18  111.633801  120.272586  104.225890  112.044093
19  115.713354  100.703187   97.609047  104.675196
20  104.089222   95.798057   99.039898   99.642392

#### 7) No DataFrame do exercício 6, crie uma nova coluna chamada "log_med", contendo o logaritmo natural da média calculada no exercício 6 <br>

In [54]:
DaFrMod['log_med'] = np.log(DaFrMod['media'])
DaFrMod

            x1          x2          x3       media   log_med
1    82.239529  110.006026  117.557166  103.267574  4.637323
2   103.925917  101.442750   93.593817   99.654162  4.601706
3    95.567735   98.922021   99.544123   98.011293  4.585083
4    99.737508  101.656312   82.210363   94.534728  4.548967
5   106.713378   90.341222  102.326318   99.793639  4.603104
6    80.570895   93.605156  101.671246   91.949099  4.521235
7   107.006165   94.924459  105.492196  102.474273  4.629612
8    98.121798   96.554844  104.030891   99.569178  4.600853
9   105.410197   85.054932   78.456857   89.640662  4.495809
10  101.303281   76.544731  108.896593   95.581535  4.559980
11  100.661780   98.567663  109.710306  102.979916  4.634534
12   90.265159  105.869584   95.038410   97.057718  4.575306
13   95.000428   88.942991  105.040793   96.328071  4.567760
14  107.264624  114.998674  106.517395  109.593564  4.696779
15   98.012915  108.768317   95.249027  100.676753  4.611915
16   98.069640  105.131482  112.391329  105.197484  4.655839
17   90.761860   86.617148   98.802776   92.060595  4.522447
18  111.633801  120.272586  104.225890  112.044093  4.718892
19  115.713354  100.703187   97.609047  104.675196  4.650862
20  104.089222   95.798057   99.039898   99.642392  4.601588